.navbar {
  background-color: #111;
  padding: 1rem 2rem;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-list li a:hover {
  color: #00bcd4;
}
